<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
 <title>AppMon</title>
 <div th:replace="/fragments/header :: header-css"/>
</head>
<body>
<div th:replace="/fragments/header :: header"/>
<div class="container">
 <div class="starter-template">
  <div id="host"></div>
  <div id="time"></div>
  <table id="statusTable" class="table table-hover table-bordered table-striped"><tbody></tbody></table>
  <table id="fsTable" class="table table-hover table-bordered table-striped"><tbody></tbody></table>
 </div>
</div>
<div th:replace="/fragments/footer :: footer"/>
</body>
</html>